<template>
    <div id="app">
        <router-view/>
        <spinner :active="storeShowSpinner" size="md" fixed/>
    </div>
</template>

<style lang="scss" src="../../../sass/app.scss"></style>

<script>
    export default {
        created(){
            Object.defineProperty(Array.prototype, 'chunk_inefficient', {
                value: function(chunkSize) {
                    var array=this;
                    return [].concat.apply([],
                        array.map(function(elem,i) {
                            return i%chunkSize ? [] : [array.slice(i,i+chunkSize)];
                        })
                    );
                }
            });
        }
    }
</script>


