<template>
    <div class="container">

        <h1 class="text-center">StarterKit IBEC Systems</h1>

        <div class="row">
            <div class="col-md-4">
                <a target="_blank" href="http://ibecsystems.com/ru#/">
                    <img src="/images/logo/ibec-systems.svg" class="img-responsive" style="margin-top: 20px" alt="">
                </a>
            </div>
            <div class="col-md-4">
                <a target="_blank" href="https://laravel.com/">
                    <img src="/images/logo/Laravel_logo.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-md-4">
                <a target="_blank" href="https://vuejs.org/">
                    <img src="/images/logo/Vue-logo.svg" class="img-responsive" alt="">
                </a>
            </div>
        </div>

        <hr>

        <h1>{{ trans('common.an_example_of_a_vue_router') }}</h1>

       <ul>
           <li v-for="(lang, index) in Laravel.supportedLocales">
               <a :href="'/'+index">{{ lang.name }}</a>
           </li>
       </ul>
        <div class="row">
            <div class="col-md-3">
                <ul>
                    <li><router-link :to="Laravel.getLocalizedRoute({name: 'home'})">Главная</router-link></li>
                    <li><router-link :to="Laravel.getLocalizedRoute({name: 'contact'})">Контакты</router-link></li>
                </ul>
            </div>
            <div class="col-md-9">
                <router-view></router-view>
            </div>
        </div>

        <hr>

        <h1>Примеры запросов к API c сервера</h1>

        <div class="row">
            <div class="col-md-3">
                <button @click="fetchBackendData" class="btn btn-default">Перезаписать</button>
            </div>
            <div class="col-md-9">
                <h3>Результаты</h3>
                <ul class="users-list">
                    <li v-for="item in backendData.contacts">
                        id: {{ item.id }} - name: {{ item.name }}
                    </li>
                </ul>
            </div>
        </div>

        <hr>

        <h1>Примеры запросов к API</h1>

        <div class="row">
            <div class="col-md-3">
                <button @click="fetchComponentData" class="btn btn-default">Получить пользователей</button>
            </div>
            <div class="col-md-9">
                <h3>Результаты</h3>
                <ul class="users-list">
                    <li v-for="item in contacts">
                        id: {{ item.id }} - name: {{ item.name }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                contacts: []
            }
        },
        computed:{
            backendData() {
                return this.state.backend_data[this.$route.name].data;
            }
        },
        backend_created(router, store, Component){
            return store.state.ServerXHR
            .open('get', '/backend/home/allContacts')
            .then(response => {
                store.state.backend_data[router.currentRoute.name] = JSON.parse(response.responseText);
            });
        },
        methods:{
            fetchComponentData(){
                this.$store.commit('changeStoreRequestIsBeingSent', true);
                axios.get('/backend/home/allContacts').then((response) => {
                    this.contacts = response.data.data.contacts;
                    this.$store.commit('changeStoreRequestIsBeingSent', false);
                });
            },
            fetchBackendData(){
                this.$store.commit('changeStoreRequestIsBeingSent', true);
                axios.get('/backend/home/twoContacts').then((response) => {
                    this.change_backend_data({route_name: this.$route.name, backend_data: response.data});
                    this.$store.commit('changeStoreRequestIsBeingSent', false);
                });
            }
        },
    }
</script>

<style lang="scss" scoped>
    .col-md-4{
        text-align: center;
        padding: 0 50px;
    }
    img{
        width: 100%;
    }

    .users-list{
        padding: 0;
        li{
            list-style: none;
            background: #ddd;
            border-bottom: 1px solid;
            padding: 8px 0;
            &:nth-of-type(odd){
                background: white;
            }
        }
    }
</style>